<h1>Edit your question</h1>
<ul>
<%= form_for @question do |f| %>
  <div>
    <%= f.label "Question Text" %>
    <%= f.text_field :body %>
  </div>
  <div>
    <%= f.submit %>
  </div>

<% end%>
</ul>
