<div class="question-view span_4_of_4">
  <h1 class="user-greeting span_4_of_4">Edit your question</h1>
    <%= form_for @question do |f| %>
        <h2><%= f.label "QUESTION TEXT" %></h2>
      <div>
        <%= f.text_field :body, :id => 'question-edit-input' %>
      </div>
        <%= f.submit :class => "menu-button"%>
    <% end%>
</div>
