<div class="question-view">
  <h1 class="user-greeting span_4_of_4">Edit your question</h1>
    <%= form_for @question do |f| %>
        <%= f.label "Question Text" %>
      <div>
        <%= f.text_field :body, :id => 'question-edit-input' %>
      </div>
        <%= f.submit %>
    <% end%>
</div>
