<div id="questions-list">
  <h2>Top Questions</h2>
  <ul>
    <% @questions.each do |question| %>
      <li>
      <div><%= question.title %> - <%= question.user.username %></div>
      </li>
    <% end %>
  </ul>
</div>


