<div id="questions-list">
  <h2>Top Questions</h2>
  <ul>
    <% @questions.each do |question| %>
      <li>
      <div><%= link_to question.title, question_path(question) %> - <%= question.user.username %></div>
      </li>
    <% end %>
  </ul>
</div>


