<div id="questions-list" class="span_4_of_4">
  <h1>TOP QUESTIONS!</h1>
  <ul>
    <% @questions.each do |question| %>
      <li>
      <div = class="answer-count">Answers: <%= question.answers.length %></div>
      <div = class="vote-count">Votes: <%= question.question_votes.length %></div>
      <div><%= link_to question.title, question_path(question) %> - <%= link_to question.user.username, user_path(question.user) %></div>
      </li>
    <% end %>
  </ul>
</div>


