<h6>Create A New question comment</h6>
<ul>
<%= form_for :question_comment, url: question_comment_create_path(question.id) do |f| %>
  <li>
    <%= f.label :body %>
    <%= f.text_field :body %>
  </li>
  <li>
    <%= f.submit %>
  </li>

<% end%>
</ul>
