<h3>LEAVE AN ANSWER</h3>
<div id="question-comment">
  <ul>
    <%= form_for :answer, url: answer_create_path(question_id) do |f| %>
      <li>
        <%= f.label :answer %>
        <%= f.text_field :body,:class => 'comment-input' %>
      </li>
      <li>
        <%= f.submit :class =>"menu-button" %>
      </li>
    <% end%>
  </ul>
</div>
