
<ul>
<%= form_for :answer_comment, url: answer_comment_create_path(answer.question.id, answer.id) do |f| %>
  <li>
    <%= f.label :body %>
    <%= f.text_field :body %>
  </li>
  <li>
    <%= f.submit %>
  </li>

<% end%>
</ul>
