<h1>Edit your answer comment</h1>
<ul>
<%= form_for @answer_comment, url: update_answer_comment_path(Answer.find(@answer_comment.answer_id).question_id, @answer_comment.answer_id, @answer_comment), method: 'put' do |f| %>
  <li>
    <%= f.label :body %>
    <%= f.text_field :body %>
  </li>
  <li>
    <%= f.submit %>
  </li>

<% end%>
</ul>
